<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../../childpatterns.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        $("td").hover(
          function () {
            $(this).css("white-space", "normal");
            $(this).siblings().css("white-space", "normal");
          },
          function () {
            $(this).css("white-space", "nowrap");
            $(this).siblings().css("white-space", "nowrap");
          }
        );
      });
    </script>
  </head>
  <body>
    <header>
      <pre>
 ██████╗ ███╗   ███╗███╗   ██╗██╗███████╗ ██████╗██╗███████╗███╗   ██╗████████╗    ███████╗██╗██╗     ███████╗     █████╗ ███████╗███████╗██╗███████╗████████╗ █████╗ ███╗   ██╗████████╗
██╔═══██╗████╗ ████║████╗  ██║██║██╔════╝██╔════╝██║██╔════╝████╗  ██║╚══██╔══╝    ██╔════╝██║██║     ██╔════╝    ██╔══██╗██╔════╝██╔════╝██║██╔════╝╚══██╔══╝██╔══██╗████╗  ██║╚══██╔══╝
██║   ██║██╔████╔██║██╔██╗ ██║██║███████╗██║     ██║█████╗  ██╔██╗ ██║   ██║       █████╗  ██║██║     █████╗      ███████║███████╗███████╗██║███████╗   ██║   ███████║██╔██╗ ██║   ██║   
██║   ██║██║╚██╔╝██║██║╚██╗██║██║╚════██║██║     ██║██╔══╝  ██║╚██╗██║   ██║       ██╔══╝  ██║██║     ██╔══╝      ██╔══██║╚════██║╚════██║██║╚════██║   ██║   ██╔══██║██║╚██╗██║   ██║   
╚██████╔╝██║ ╚═╝ ██║██║ ╚████║██║███████║╚██████╗██║███████╗██║ ╚████║   ██║       ██║     ██║███████╗███████╗    ██║  ██║███████║███████║██║███████║   ██║   ██║  ██║██║ ╚████║   ██║   
 ╚═════╝ ╚═╝     ╚═╝╚═╝  ╚═══╝╚═╝╚══════╝ ╚═════╝╚═╝╚══════╝╚═╝  ╚═══╝   ╚═╝       ╚═╝     ╚═╝╚══════╝╚══════╝    ╚═╝  ╚═╝╚══════╝╚══════╝╚═╝╚══════╝   ╚═╝   ╚═╝  ╚═╝╚═╝  ╚═══╝   ╚═╝   
 
	</pre
      >
    </header>
    <ul>
      <li><a href="/">Dashboard</a></li>
      <li><a href="/scanning">Scanning</a></li>
      <li><a href="/patterns">Patterns</a></li>
      <li><a href="/auditing">Auditing</a></li>
    </ul>
    <main>
      <div id="recent">
        <h2 id="recentHeader">Flagged Files</h2>
        <section id="recentTable" style="width: 100%">
          <div class="heading-card">File Name</div>
          <div class="heading-card">File Path</div>
          <div class="heading-card">File Extension</div>
          <div class="heading-card">Computer Name</div>
          <div class="heading-card">File Creator</div>
          <div class="heading-card">Date Created</div>
          <div class="heading-card">Date Modified</div>
          <div class="heading-card">FileSize</div>
          <div class="heading-card">Download</div>
          <% for(var i=0; i < data.length; i++) { %> <%= data[i].id %>
          <div class="card">
            <div class="data"><%= data[i].FileName %></div>
          </div>
          <div class="card"><div class="data"><%= data[i].Path %></div></div>
          <div class="card"><div class="data"><%= data[i].FileExt %></div></div>
          <div class="card">
            <div class="data"><%= data[i].CompName %></div>
          </div>
          <div class="card">
            <div class="data"><%= data[i].FileCreator %></div>
          </div>
          <div class="card">
            <div class="data"><%= data[i].FileCreated %></div>
          </div>
          <div class="card">
            <div class="data"><%= data[i].FileModified %></div>
          </div>
          <div class="card">
            <div class="data"><%= data[i].FileSize %></div>
          </div>
          <div class="card">
            <div class="data">
              <form action="" method="POST">
                <input
                  type="submit"
                  name="downloadB"
                  value="<%=data[i].FileName%>"
                />
              </form>
            </div>
          </div>
          <% } %>
        </section>
      </div>
    </main>
  </body>
</html>
