<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="createnewaudit.css" />
  </head>
  <body>
    <header>
      <pre>
 ██████╗ ███╗   ███╗███╗   ██╗██╗███████╗ ██████╗██╗███████╗███╗   ██╗████████╗    ███████╗██╗██╗     ███████╗     █████╗ ███████╗███████╗██╗███████╗████████╗ █████╗ ███╗   ██╗████████╗
██╔═══██╗████╗ ████║████╗  ██║██║██╔════╝██╔════╝██║██╔════╝████╗  ██║╚══██╔══╝    ██╔════╝██║██║     ██╔════╝    ██╔══██╗██╔════╝██╔════╝██║██╔════╝╚══██╔══╝██╔══██╗████╗  ██║╚══██╔══╝
██║   ██║██╔████╔██║██╔██╗ ██║██║███████╗██║     ██║█████╗  ██╔██╗ ██║   ██║       █████╗  ██║██║     █████╗      ███████║███████╗███████╗██║███████╗   ██║   ███████║██╔██╗ ██║   ██║   
██║   ██║██║╚██╔╝██║██║╚██╗██║██║╚════██║██║     ██║██╔══╝  ██║╚██╗██║   ██║       ██╔══╝  ██║██║     ██╔══╝      ██╔══██║╚════██║╚════██║██║╚════██║   ██║   ██╔══██║██║╚██╗██║   ██║   
╚██████╔╝██║ ╚═╝ ██║██║ ╚████║██║███████║╚██████╗██║███████╗██║ ╚████║   ██║       ██║     ██║███████╗███████╗    ██║  ██║███████║███████║██║███████║   ██║   ██║  ██║██║ ╚████║   ██║   
 ╚═════╝ ╚═╝     ╚═╝╚═╝  ╚═══╝╚═╝╚══════╝ ╚═════╝╚═╝╚══════╝╚═╝  ╚═══╝   ╚═╝       ╚═╝     ╚═╝╚══════╝╚══════╝    ╚═╝  ╚═╝╚══════╝╚══════╝╚═╝╚══════╝   ╚═╝   ╚═╝  ╚═╝╚═╝  ╚═══╝   ╚═╝   
 
 </pre
      >
    </header>
    <ul>
      <li><a href="/">Dashboard</a></li>
      <li><a href="/scanning">Scanning</a></li>
      <li><a href="/patterns">Patterns</a></li>
      <li><a href="/auditing">Auditing</a></li>
      <li><a href="/createNewAudit">Create New Audit</a></li>
      <li><a href="/createNewPattern">Create New Pattern</a></li>
      <li><a href="/modifyAudit">Modify Audit</a></li>
    </ul>
    <main>
      <h1>Create New Audit</h1>
      <form action="" method="POST">
        <input
          id="filter"
          type="text"
          placeholder="Search for the file you wish to audit..."
          name="filter_field"
          value=""
        />
        <input type="submit" value="Search" />
      </form>
      <div id="recent1">
        <table id="recentTable1" style="width: 200%">
          <form action="/createnewaudit/NewAudit" id="my_form" method="POST">
            <tr>
              <th></th>
              <th>File Name</th>
              <th>File Path</th>
              <th>File Extension</th>
              <th>Computer Name</th>
              <th>File Creator</th>
              <th>Date Created</th>
              <th>Date Modified</th>
              <th>File Size</th>
            </tr>
            <% for(var i=0; i < data.length; i++) { %> <%= data[i].id %>
            <tr>
              <td>
                <input
                  type="radio"
                  id="regular"
                  name="option"
                  style="height: 10px; width: 10px"
                  value="<%=data[i].FileID%>"
                />
                
              </td>
              <td><%= data[i].FileName %></td>
              <td><%= data[i].FilePath %></td>
              <td><%= data[i].FileExt %></td>
              <td><%= data[i].CompName %></td>
              <td><%= data[i].FileCreator %></td>
              <td><%= data[i].FileCreated %></td>
              <td><%= data[i].FileModified %></td>
              <td><%= data[i].FileSize %></td>
            </tr>
            <% } %>
          
        </table>
      </div>
      <br />
      <input
          id="MatchCriteria"
          type="text"
          placeholder="Name of Audit"
          name="name_audit"
          value=""
          style="width: 684px"
        />
      <br />
      <br />
      <input type="submit" value="Submit" />
      <input type="reset" />
    </form>
    </main>
  </body>
</html>
