<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="test2.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
      $(document).ready(function () {
        $("td").hover(
          function () {
            $(this).css("white-space", "normal");
            $(this).siblings().css("white-space", "normal");
          },
          function () {
            $(this).css("white-space", "nowrap");
            $(this).siblings().css("white-space", "nowrap");
          }
        );
      });
    </script>
  </head>
  <body>
    <header>
      <pre>
 ██████╗ ███╗   ███╗███╗   ██╗██╗███████╗ ██████╗██╗███████╗███╗   ██╗████████╗    ███████╗██╗██╗     ███████╗     █████╗ ███████╗███████╗██╗███████╗████████╗ █████╗ ███╗   ██╗████████╗
██╔═══██╗████╗ ████║████╗  ██║██║██╔════╝██╔════╝██║██╔════╝████╗  ██║╚══██╔══╝    ██╔════╝██║██║     ██╔════╝    ██╔══██╗██╔════╝██╔════╝██║██╔════╝╚══██╔══╝██╔══██╗████╗  ██║╚══██╔══╝
██║   ██║██╔████╔██║██╔██╗ ██║██║███████╗██║     ██║█████╗  ██╔██╗ ██║   ██║       █████╗  ██║██║     █████╗      ███████║███████╗███████╗██║███████╗   ██║   ███████║██╔██╗ ██║   ██║   
██║   ██║██║╚██╔╝██║██║╚██╗██║██║╚════██║██║     ██║██╔══╝  ██║╚██╗██║   ██║       ██╔══╝  ██║██║     ██╔══╝      ██╔══██║╚════██║╚════██║██║╚════██║   ██║   ██╔══██║██║╚██╗██║   ██║   
╚██████╔╝██║ ╚═╝ ██║██║ ╚████║██║███████║╚██████╗██║███████╗██║ ╚████║   ██║       ██║     ██║███████╗███████╗    ██║  ██║███████║███████║██║███████║   ██║   ██║  ██║██║ ╚████║   ██║   
 ╚═════╝ ╚═╝     ╚═╝╚═╝  ╚═══╝╚═╝╚══════╝ ╚═════╝╚═╝╚══════╝╚═╝  ╚═══╝   ╚═╝       ╚═╝     ╚═╝╚══════╝╚══════╝    ╚═╝  ╚═╝╚══════╝╚══════╝╚═╝╚══════╝   ╚═╝   ╚═╝  ╚═╝╚═╝  ╚═══╝   ╚═╝   
 
		</pre
      >
    </header>
    <ul>
      <li><a href="/">Dashboard</a></li>
      <li><a href="/scanning">Scanning</a></li>
      <li><a href="/patterns">Patterns</a></li>
      <li><a href="/auditing">Auditing</a></li>
      <li><a href="/createNewAudit">Create Audit</a></li>
      <li><a href="/modifyAudit">Modify Audit</a></li>
    </ul>
    <main>
      <div id="recent">
        <h2 id="recentHeader">Recently Scanned Files</h2>
        <section id="recentTable" style="width: 80%">
          <div class="heading-card">File Name</div>
          <div class="heading-card">File Path</div>
          <div class="heading-card">File Extension</div>
          <div class="heading-card">Computer Name</div>
          <div class="heading-card">File Creator</div>
          <div class="heading-card">Date Created</div>
          <div class="heading-card">Date Modified</div>
          <div class="heading-card">FileSize</div>

          <div class="card"><div class="data"><%=data[0].FileName %></div></div>
          <div class="card"><div class="data"><%=data[0].FilePath %></div></div>
          <div class="card"><div class="data"><%=data[0].FileExt %></div></div>
          <div class="card"><div class="data"><%=data[0].CompName %></div></div>
          <div class="card">
            <div class="data"><%=data[0].FileCreator %></div>
          </div>
          <div class="card">
            <div class="data"><%=data[0].FileCreated %></div>
          </div>
          <div class="card">
            <div class="data"><%=data[0].FileModified %></div>
          </div>
          <div class="card"><div class="data"><%=data[0].FileSize %></div></div>

          <div class="card"><div class="data"><%=data[1].FileName %></div></div>
          <div class="card"><div class="data"><%=data[1].FilePath %></div></div>
          <div class="card"><div class="data"><%=data[1].FileExt %></div></div>
          <div class="card"><div class="data"><%=data[1].CompName %></div></div>
          <div class="card">
            <div class="data"><%=data[1].FileCreator %></div>
          </div>
          <div class="card">
            <div class="data"><%=data[1].FileCreated %></div>
          </div>
          <div class="card">
            <div class="data"><%=data[1].FileModified %></div>
          </div>
          <div class="card"><div class="data"><%=data[1].FileSize %></div></div>

          <div class="card"><div class="data"><%=data[2].FileName %></div></div>
          <div class="card"><div class="data"><%=data[2].FilePath %></div></div>
          <div class="card"><div class="data"><%=data[2].FileExt %></div></div>
          <div class="card"><div class="data"><%=data[2].CompName %></div></div>
          <div class="card">
            <div class="data"><%=data[2].FileCreator %></div>
          </div>
          <div class="card">
            <div class="data"><%=data[2].FileCreated %></div>
          </div>
          <div class="card">
            <div class="data"><%=data[2].FileModified %></div>
          </div>
          <div class="card"><div class="data"><%=data[2].FileSize %></div></div>

          <div class="card"><div class="data"><%=data[3].FileName %></div></div>
          <div class="card"><div class="data"><%=data[3].FilePath %></div></div>
          <div class="card"><div class="data"><%=data[3].FileExt %></div></div>
          <div class="card"><div class="data"><%=data[3].CompName %></div></div>
          <div class="card">
            <div class="data"><%=data[3].FileCreator %></div>
          </div>
          <div class="card">
            <div class="data"><%=data[3].FileCreated %></div>
          </div>
          <div class="card">
            <div class="data"><%=data[3].FileModified %></div>
          </div>
          <div class="card"><div class="data"><%=data[3].FileSize %></div></div>

          <div class="card"><div class="data"><%=data[4].FileName %></div></div>
          <div class="card"><div class="data"><%=data[4].FilePath %></div></div>
          <div class="card"><div class="data"><%=data[4].FileExt %></div></div>
          <div class="card"><div class="data"><%=data[4].CompName %></div></div>
          <div class="card">
            <div class="data"><%=data[4].FileCreator %></div>
          </div>
          <div class="card">
            <div class="data"><%=data[4].FileCreated %></div>
          </div>
          <div class="card">
            <div class="data"><%=data[4].FileModified %></div>
          </div>
          <div class="card"><div class="data"><%=data[4].FileSize %></div></div>

          <div class="card"><div class="data"><%=data[5].FileName %></div></div>
          <div class="card"><div class="data"><%=data[5].FilePath %></div></div>
          <div class="card"><div class="data"><%=data[5].FileExt %></div></div>
          <div class="card"><div class="data"><%=data[5].CompName %></div></div>
          <div class="card">
            <div class="data"><%=data[5].FileCreator %></div>
          </div>
          <div class="card">
            <div class="data"><%=data[5].FileCreated %></div>
          </div>
          <div class="card">
            <div class="data"><%=data[5].FileModified %></div>
          </div>
          <div class="card"><div class="data"><%=data[5].FileSize %></div></div>

          <div class="card"><div class="data"><%=data[6].FileName %></div></div>
          <div class="card"><div class="data"><%=data[6].FilePath %></div></div>
          <div class="card"><div class="data"><%=data[6].FileExt %></div></div>
          <div class="card"><div class="data"><%=data[6].CompName %></div></div>
          <div class="card">
            <div class="data"><%=data[6].FileCreator %></div>
          </div>
          <div class="card">
            <div class="data"><%=data[6].FileCreated %></div>
          </div>
          <div class="card">
            <div class="data"><%=data[6].FileModified %></div>
          </div>
          <div class="card"><div class="data"><%=data[6].FileSize %></div></div>

          <div class="card"><div class="data"><%=data[7].FileName %></div></div>
          <div class="card"><div class="data"><%=data[7].FilePath %></div></div>
          <div class="card"><div class="data"><%=data[7].FileExt %></div></div>
          <div class="card"><div class="data"><%=data[7].CompName %></div></div>
          <div class="card">
            <div class="data"><%=data[7].FileCreator %></div>
          </div>
          <div class="card">
            <div class="data"><%=data[7].FileCreated %></div>
          </div>
          <div class="card">
            <div class="data"><%=data[7].FileModified %></div>
          </div>
          <div class="card"><div class="data"><%=data[7].FileSize %></div></div>

          <div class="card"><div class="data"><%=data[8].FileName %></div></div>
          <div class="card"><div class="data"><%=data[8].FilePath %></div></div>
          <div class="card"><div class="data"><%=data[8].FileExt %></div></div>
          <div class="card"><div class="data"><%=data[8].CompName %></div></div>
          <div class="card">
            <div class="data"><%=data[8].FileCreator %></div>
          </div>
          <div class="card">
            <div class="data"><%=data[8].FileCreated %></div>
          </div>
          <div class="card">
            <div class="data"><%=data[8].FileModified %></div>
          </div>
          <div class="card"><div class="data"><%=data[8].FileSize %></div></div>

          <div class="card"><div class="data"><%=data[9].FileName %></div></div>
          <div class="card"><div class="data"><%=data[9].FilePath %></div></div>
          <div class="card"><div class="data"><%=data[9].FileExt %></div></div>
          <div class="card"><div class="data"><%=data[9].CompName %></div></div>
          <div class="card">
            <div class="data"><%=data[9].FileCreator %></div>
          </div>
          <div class="card">
            <div class="data"><%=data[9].FileCreated %></div>
          </div>
          <div class="card">
            <div class="data"><%=data[9].FileModified %></div>
          </div>
          <div class="card"><div class="data"><%=data[9].FileSize %></div></div>
        </section>
      </div>
      <div id="schedule">
        <h2 id="scheduleHeader">Scanning Schedule</h2>
        <table id="scheduleTable" style="width: 80%">
          <tr>
            <th>Schedule Name</th>
            <th>Base Time</th>
            <th>Interval</th>
            <th>Number of Computers</th>
          </tr>
          <% for(var i=0; i < sched.length; i++) { %> <%= sched[i].id %>
          <tr>
            <td><%= sched[i].SchedName %></td>
            <td><%= sched[i].BaseTime %></td>
            <td><%= sched[i].InterName %></td>
            <td><%= sched[i].NumberOfComp %></td>
          </tr>
          <% } %>
        </table>
      </div>
    </main>
  </body>
</html>
