<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../../IndiAudit.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <pre>
 ██████╗ ███╗   ███╗███╗   ██╗██╗███████╗ ██████╗██╗███████╗███╗   ██╗████████╗    ███████╗██╗██╗     ███████╗     █████╗ ███████╗███████╗██╗███████╗████████╗ █████╗ ███╗   ██╗████████╗
██╔═══██╗████╗ ████║████╗  ██║██║██╔════╝██╔════╝██║██╔════╝████╗  ██║╚══██╔══╝    ██╔════╝██║██║     ██╔════╝    ██╔══██╗██╔════╝██╔════╝██║██╔════╝╚══██╔══╝██╔══██╗████╗  ██║╚══██╔══╝
██║   ██║██╔████╔██║██╔██╗ ██║██║███████╗██║     ██║█████╗  ██╔██╗ ██║   ██║       █████╗  ██║██║     █████╗      ███████║███████╗███████╗██║███████╗   ██║   ███████║██╔██╗ ██║   ██║   
██║   ██║██║╚██╔╝██║██║╚██╗██║██║╚════██║██║     ██║██╔══╝  ██║╚██╗██║   ██║       ██╔══╝  ██║██║     ██╔══╝      ██╔══██║╚════██║╚════██║██║╚════██║   ██║   ██╔══██║██║╚██╗██║   ██║   
╚██████╔╝██║ ╚═╝ ██║██║ ╚████║██║███████║╚██████╗██║███████╗██║ ╚████║   ██║       ██║     ██║███████╗███████╗    ██║  ██║███████║███████║██║███████║   ██║   ██║  ██║██║ ╚████║   ██║   
 ╚═════╝ ╚═╝     ╚═╝╚═╝  ╚═══╝╚═╝╚══════╝ ╚═════╝╚═╝╚══════╝╚═╝  ╚═══╝   ╚═╝       ╚═╝     ╚═╝╚══════╝╚══════╝    ╚═╝  ╚═╝╚══════╝╚══════╝╚═╝╚══════╝   ╚═╝   ╚═╝  ╚═╝╚═╝  ╚═══╝   ╚═╝   
 
 </pre
      >
    </header>
    <ul>
      <li><a href="/">Dashboard</a></li>
      <li><a href="/Scanning">Scanning</a></li>
      <li><a href="/Patterns">Patterns</a></li>
      <li><a href="/Auditing">Auditing</a></li>
    </ul>
    <main>
      <div id="content">
        <h1>Create New Audit: <span id="heading">Use attributes to find files.</span></h1>
        <form action="" method="POST">
          <section id="inputsTable">
            <div class="inputs">
              <label>File Name</label><br />
              <input type="text" id="FileName" name="FileName" value="<%= InputField[0].FileName %>" />
            </div>
            <div class="inputs">
              <label>File Path</label><br />
              <input type="text" id="FilePath" name="FilePath" value="<%= InputField[0].FilePath %>" />
            </div>
            <div class="inputs">
              <label>File Extension</label><br />
              <input type="text" id="FileExt" name="FileExt" value="<%= InputField[0].FileExt %>" />
            </div>
            <div class="inputs">
              <label>Computer Name</label><br />
              <input type="text" id="CompName" name="CompName" value="<%= InputField[0].CompName %>" />
            </div>
            <div class="inputs">
              <label>File Creator</label><br />
              <input type="text" id="FileCreator" name="FileCreator" value="<%= InputField[0].FileCreator %>" />
            </div>
            <div class="inputs">
              <label>Date Created</label><br />
              <input type="date" id="FileCreated" name="FileCreated" value="<%= InputField[0].FileCreated %>" />
            </div>
            <div class="inputs">
              <label>Date Modified</label><br />
              <input type="date" id="FileModified" name="FileModified" value="<%= InputField[0].FileModified %>" />
            </div>
            <div class="inputs">
              <label>File Size</label><br />
              <input type="text" id="FileSize" name="FileSize" value="<%= InputField[0].FileSize %>" />
            </div>
            <div class="inputs">
              <input type="submit" id="search" name="TheButton" value="Search" />
            </div>
          </section>
          <br />
          <br />
          <span id="ConfirmSearch"><%=ConfirmSearch%></span>
          <br />
          <br />
          <section id="compsTable" style="width: 100%">
            <div class="heading-card">&nbsp;</div>
            <div class="heading-card">File Name</div>
            <div class="heading-card">File Path</div>
            <div class="heading-card">File Extension</div>
            <div class="heading-card">Computer Name</div>
            <div class="heading-card">File Creator</div>
            <div class="heading-card">Date Created</div>
            <div class="heading-card">Date Modified</div>
            <div class="heading-card">File Size</div>
            <% for(var i=0; i < FileStuff.length; i++) { %> <%= FileStuff[i].id %>
              <div class="card">
                <div class="data">
                  <input type="radio" id="FileID" class="<%= FileStuff[i].FileID %>" name="FileID" value="<%= FileStuff[i].FileID %>" />
                </div>
              </div>
              <div class="card"><div class="data"><%= FileStuff[i].FileName %></div></div>
              <div class="card"><div class="data"><%= FileStuff[i].FilePath %></div></div>
              <div class="card"><div class="data"><%= FileStuff[i].FileExt %></div></div>
              <div class="card"><div class="data"><%= FileStuff[i].CompName %></div></div>
              <div class="card"><div class="data"><%= FileStuff[i].FileCreator %></div></div>
              <div class="card"><div class="data"><%= FileStuff[i].FileCreated %></div></div>
              <div class="card"><div class="data"><%= FileStuff[i].FileModified %></div></div>
              <div class="card"><div class="data"><%= FileStuff[i].FileSize %></div></div>
            <% } %>
          </section>
          <br />
            <div id="SubmitArea">
                <input type="text" id="AuditName" name="AuditName" placeholder="Name of Audit" value="<%=AuditStuff[0].AuditName%>"/>
                <br />
                <br />
                <input type="submit" name="TheButton" value="Submit" />
                <input type="reset" />
                <br />
                <br />
                <span id="ConfirmSubmit"><%=ConfirmSubmit%></span>
            </div>
            
        </form>
      </div>
    </main>
    <script>
      $(document).ready(function(){
        window.onload=function(){
          if(document.getElementById("ConfirmSearch").innerHTML == "SUCCESS: Search Complete" || document.getElementById("ConfirmSearch").innerHTML == "SUCCESS: File Retrieved" ){
            document.getElementById("ConfirmSearch").setAttribute("style", "font-weight:bold; color:green");
          }else if(document.getElementById("ConfirmSearch").innerHTML == "ERROR: Server Error" || document.getElementById("ConfirmSearch").innerHTML == "ERROR: File Search Empty"  || document.getElementById("ConfirmSearch").innerHTML == "ERROR: Search Failed"){
            document.getElementById("ConfirmSearch").setAttribute("style", "font-weight:bold; color:red");
          }else{
            document.getElementById("ConfirmSearch").setAttribute("style", "font-weight:bold; color:white")
          }
          if(document.getElementById("ConfirmSubmit").innerHTML == "SUCCESS: Audit Created" || document.getElementById("ConfirmSubmit").innerHTML == "SUCCESS: Audit Retrieved" || document.getElementById("ConfirmSubmit").innerHTML == "SUCCESS: Audit Updated"){
            document.getElementById("ConfirmSubmit").setAttribute("style", "font-weight:bold; color:green");
          }else if(document.getElementById("ConfirmSubmit").innerHTML == "ERROR: Server Error" || document.getElementById("ConfirmSubmit").innerHTML == "ERROR: Required Fields Not Provided" || document.getElementById("ConfirmSubmit").innerHTML == "ERROR: Update Failed"){
            document.getElementById("ConfirmSubmit").setAttribute("style", "font-weight:bold; color:red");
          }else{
            document.getElementById("ConfirmSubmit").setAttribute("style", "font-weight:bold; color:white")
          }
          if(document.getElementById("FileID").getAttribute("value") == ""){
            document.getElementById("FileID").setAttribute("style", "display:none;");
          }
          $('input[value="<%= AuditStuff[0].FileID %>"]').prop("checked",true);
        }
      });
    </script>
  </body>
</html>
