<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="../../IndiPattern.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
  <body>
    <header>
      <pre>
 ██████╗ ███╗   ███╗███╗   ██╗██╗███████╗ ██████╗██╗███████╗███╗   ██╗████████╗    ███████╗██╗██╗     ███████╗     █████╗ ███████╗███████╗██╗███████╗████████╗ █████╗ ███╗   ██╗████████╗
██╔═══██╗████╗ ████║████╗  ██║██║██╔════╝██╔════╝██║██╔════╝████╗  ██║╚══██╔══╝    ██╔════╝██║██║     ██╔════╝    ██╔══██╗██╔════╝██╔════╝██║██╔════╝╚══██╔══╝██╔══██╗████╗  ██║╚══██╔══╝
██║   ██║██╔████╔██║██╔██╗ ██║██║███████╗██║     ██║█████╗  ██╔██╗ ██║   ██║       █████╗  ██║██║     █████╗      ███████║███████╗███████╗██║███████╗   ██║   ███████║██╔██╗ ██║   ██║   
██║   ██║██║╚██╔╝██║██║╚██╗██║██║╚════██║██║     ██║██╔══╝  ██║╚██╗██║   ██║       ██╔══╝  ██║██║     ██╔══╝      ██╔══██║╚════██║╚════██║██║╚════██║   ██║   ██╔══██║██║╚██╗██║   ██║   
╚██████╔╝██║ ╚═╝ ██║██║ ╚████║██║███████║╚██████╗██║███████╗██║ ╚████║   ██║       ██║     ██║███████╗███████╗    ██║  ██║███████║███████║██║███████║   ██║   ██║  ██║██║ ╚████║   ██║   
 ╚═════╝ ╚═╝     ╚═╝╚═╝  ╚═══╝╚═╝╚══════╝ ╚═════╝╚═╝╚══════╝╚═╝  ╚═══╝   ╚═╝       ╚═╝     ╚═╝╚══════╝╚══════╝    ╚═╝  ╚═╝╚══════╝╚══════╝╚═╝╚══════╝   ╚═╝   ╚═╝  ╚═╝╚═╝  ╚═══╝   ╚═╝   
 
 </pre
      >
    </header>
    <ul>
      <li><a href="/">Dashboard</a></li>
      <li><a href="/scanning">Scanning</a></li>
      <li><a href="/patterns">Patterns</a></li>
      <li><a href="/auditing">Auditing</a></li>
      <li><a href="/createNewAudit">Create Audit</a></li>
      <li><a href="/modifyAudit">Modify Audit</a></li>
    </ul>
    <main>
      <h1>Modify The Pattern</h1>
      <form action="" method="POST">
        <input id="patternName" type="text" placeholder="New Pattern Name" name="name_field" value="<%= pats[0].CriteriaName %>" />
        <br />
        <br />
        <label for="terms">Choose the Terms</label>
        <select name="terms" id="termsList" multiple>
          <% for(var i=0; i < terms.length; i++) { %> <%= terms[i].id %>
          <option value="<%= terms[i].TermID %>"><%= terms[i].TermName %> | <%= terms[i].TermValue %></option>
          <% } %>
        </select>
        <br />
        <br />
        <label>Backup Files Matched?</label>
        <input type="checkbox" id="backupCheck" name="backupName" value="true" />
        <br />
        <br />
        <input type="submit" value="Submit" />
        <input type="reset" />
      </form>
      <br/>
      <span id="confirm"><%=ConfirmString%></span>
    </main>
    <script>
      var select = [];
      '<% for(var i=0; i < criterms.length; i++) { %> <%= criterms[i].id %>'
        select.push('<%= criterms[i].TermID %>');
      '<% } %>'
      $(document).ready(function(){
        window.onload=function(){
          $("#termsList").val(select);
          if(document.getElementById("confirm").innerHTML == "Update Successful"){
            document.getElementById("confirm").setAttribute("style", "font-weight:bold; color:green");
          }else{
            document.getElementById("confirm").setAttribute("style", "font-weight:bold; color:red");
          }
          $('input[value="<%= pats[0].BackupData %>"]').prop("checked",true);
        }
      });
    </script>
    
  </body>
</html>
