<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="scanning.css" />
  </head>
  <body>
    <header>
      <pre>
 ██████╗ ███╗   ███╗███╗   ██╗██╗███████╗ ██████╗██╗███████╗███╗   ██╗████████╗    ███████╗██╗██╗     ███████╗     █████╗ ███████╗███████╗██╗███████╗████████╗ █████╗ ███╗   ██╗████████╗
██╔═══██╗████╗ ████║████╗  ██║██║██╔════╝██╔════╝██║██╔════╝████╗  ██║╚══██╔══╝    ██╔════╝██║██║     ██╔════╝    ██╔══██╗██╔════╝██╔════╝██║██╔════╝╚══██╔══╝██╔══██╗████╗  ██║╚══██╔══╝
██║   ██║██╔████╔██║██╔██╗ ██║██║███████╗██║     ██║█████╗  ██╔██╗ ██║   ██║       █████╗  ██║██║     █████╗      ███████║███████╗███████╗██║███████╗   ██║   ███████║██╔██╗ ██║   ██║   
██║   ██║██║╚██╔╝██║██║╚██╗██║██║╚════██║██║     ██║██╔══╝  ██║╚██╗██║   ██║       ██╔══╝  ██║██║     ██╔══╝      ██╔══██║╚════██║╚════██║██║╚════██║   ██║   ██╔══██║██║╚██╗██║   ██║   
╚██████╔╝██║ ╚═╝ ██║██║ ╚████║██║███████║╚██████╗██║███████╗██║ ╚████║   ██║       ██║     ██║███████╗███████╗    ██║  ██║███████║███████║██║███████║   ██║   ██║  ██║██║ ╚████║   ██║   
 ╚═════╝ ╚═╝     ╚═╝╚═╝  ╚═══╝╚═╝╚══════╝ ╚═════╝╚═╝╚══════╝╚═╝  ╚═══╝   ╚═╝       ╚═╝     ╚═╝╚══════╝╚══════╝    ╚═╝  ╚═╝╚══════╝╚══════╝╚═╝╚══════╝   ╚═╝   ╚═╝  ╚═╝╚═╝  ╚═══╝   ╚═╝   
 
		</pre
      >
    </header>
    <ul>
      <li><a href="/">Dashboard</a></li>
      <li><a href="/scanning">Scanning</a></li>
      <li><a href="/patterns">Patterns</a></li>
      <li><a href="/auditing">Auditing</a></li>
      <li><a href="/createNewAudit">Create New Audit</a></li>
      <li><a href="/modifyAudit">Modify Audit</a></li>
    </ul>
    <main>
      <div id="content">
        <h1>File Search: <span id="heading">Use attributes to find files.</span></h1>
        <form action="" method="POST">
          <section id="inputsTable">
            <div class="inputs">
              <label>File Name</label><br />
              <input id="FileName" type="text" name="FileName" value="" />
            </div>
            <div class="inputs">
              <label>File Path</label><br />
              <input id="FilePath" type="text" name="FilePath" value="" />
            </div>
            <div class="inputs">
              <label>File Extension</label><br />
              <input id="FileExt" type="text" name="FileExt" value="" />
            </div>
            <div class="inputs">
              <label>Computer Name</label><br />
              <input id="CompName" type="text" name="CompName" value="" />
            </div>
            <div class="inputs">
              <label>File Creator</label><br />
              <input id="FileCreator" type="text" name="FileCreator" value="" />
            </div>
            <div class="inputs">
              <label>Date Created</label><br />
              <input id="FileCreated" type="date" name="FileCreated" value="" />
            </div>
            <div class="inputs">
              <label>Date Modified</label><br />
              <input id="FileModified" type="date" name="FileModified" value="" />
            </div>
            <div class="inputs">
              <label>File Size</label><br />
              <input id="FileSize" type="text" name="FileSize" value="" />
            </div>
            <div class="inputs">
              <input id="search" type="submit" value="Search" />
            </div>
          </section>
        </form>

        <br />
        <br />
        <br />
        <section id="compsTable" style="width: 100%">
          <div class="heading-card">File Name</div>
          <div class="heading-card">File Path</div>
          <div class="heading-card">File Extension</div>
          <div class="heading-card">Computer Name</div>
          <div class="heading-card">File Creator</div>
          <div class="heading-card">Date Created</div>
          <div class="heading-card">Date Modified</div>
          <div class="heading-card">File Size</div>
          <% for(var i=0; i < data.length; i++) { %> <%= data[i].id %>
          <div class="card"><div class="data"><%= data[i].FileName %></div></div>
          <div class="card"><div class="data"><%= data[i].FilePath %></div></div>
          <div class="card"><div class="data"><%= data[i].FileExt %></div></div>
          <div class="card"><div class="data"><%= data[i].CompName %></div></div>
          <div class="card"><div class="data"><%= data[i].FileCreator %></div></div>
          <div class="card"><div class="data"><%= data[i].FileCreated %></div></div>
          <div class="card"><div class="data"><%= data[i].FileModified %></div></div>
          <div class="card"><div class="data"><%= data[i].FileSize %></div></div>
          <% } %>
        </section>
      </div>
    </main>
  </body>
</html>
