<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="ScheduleConfig.css" />
  </head>
  <body>
    <header>
      <pre>
 ██████╗ ███╗   ███╗███╗   ██╗██╗███████╗ ██████╗██╗███████╗███╗   ██╗████████╗    ███████╗██╗██╗     ███████╗     █████╗ ███████╗███████╗██╗███████╗████████╗ █████╗ ███╗   ██╗████████╗
██╔═══██╗████╗ ████║████╗  ██║██║██╔════╝██╔════╝██║██╔════╝████╗  ██║╚══██╔══╝    ██╔════╝██║██║     ██╔════╝    ██╔══██╗██╔════╝██╔════╝██║██╔════╝╚══██╔══╝██╔══██╗████╗  ██║╚══██╔══╝
██║   ██║██╔████╔██║██╔██╗ ██║██║███████╗██║     ██║█████╗  ██╔██╗ ██║   ██║       █████╗  ██║██║     █████╗      ███████║███████╗███████╗██║███████╗   ██║   ███████║██╔██╗ ██║   ██║   
██║   ██║██║╚██╔╝██║██║╚██╗██║██║╚════██║██║     ██║██╔══╝  ██║╚██╗██║   ██║       ██╔══╝  ██║██║     ██╔══╝      ██╔══██║╚════██║╚════██║██║╚════██║   ██║   ██╔══██║██║╚██╗██║   ██║   
╚██████╔╝██║ ╚═╝ ██║██║ ╚████║██║███████║╚██████╗██║███████╗██║ ╚████║   ██║       ██║     ██║███████╗███████╗    ██║  ██║███████║███████║██║███████║   ██║   ██║  ██║██║ ╚████║   ██║   
 ╚═════╝ ╚═╝     ╚═╝╚═╝  ╚═══╝╚═╝╚══════╝ ╚═════╝╚═╝╚══════╝╚═╝  ╚═══╝   ╚═╝       ╚═╝     ╚═╝╚══════╝╚══════╝    ╚═╝  ╚═╝╚══════╝╚══════╝╚═╝╚══════╝   ╚═╝   ╚═╝  ╚═╝╚═╝  ╚═══╝   ╚═╝   
 
		</pre
      >
    </header>
    <ul>
      <li><a href="/">Dashboard</a></li>
      <li><a href="/scanning">Scanning</a></li>
      <li><a href="/patterns">Patterns</a></li>
      <li><a href="/auditing">Auditing</a></li>
      <li><a href="/createNewAudit">Create New Audit</a></li>
      <li><a href="/createNewPattern">Create New Pattern</a></li>
      <li><a href="/modifyAudit">Modify Audit</a></li>
    </ul>
    <main>
      <div id="comps">
        <h2 id="compsHeader">Computers</h2>
        <section id="compsTable" style="width: 80%">
          <div class="heading-card">Computer Name</div>
          <div class="heading-card">IP Address</div>
          <div class="heading-card">Schedule Name</div>
          <% for(var i=0; i < comps.length; i++) { %> <%= comps[i].id %>
          <div class="card"><div class="data"><%= comps[i].CompName%></div></div>
          <div class="card"><div class="data"><%= comps[i].IPAddr%></div></div>
          <div class="card">
            <div class="data"><%= comps[i].SchedName%><a href="/ScheduleConfig/IndividualComp/<%= comps[i].CompID%>">(Change)</a></div>
          </div>
          <% } %>
        </section>
        <br />
        <br />
        <br />
        <br />
        <br />
        <section id="compsNotTable" style="width: 80%">
          <div class="heading-card">Computer Name</div>
          <div class="heading-card">IP Address</div>
          <div class="heading-card">Schedule Name</div>
          <% for(var i=0; i < compsNot.length; i++) { %> <%= compsNot[i].id %>
          <div class="card">
            <div class="data"><%= compsNot[i].CompName%></div>
          </div>
          <div class="card"><div class="data"><%= compsNot[i].IPAddr%></div></div>
          <div class="card">
            <div class="data"><a href="/ScheduleConfig/IndividualComp/<%= compsNot[i].CompID%>">(Assign)</a></div>
          </div>
          <% } %>
        </section>
      </div>
      <div id="scheds">
        <h2 id="schedsHeader">Schedules</h2>
        <section id="schedsTable" style="width: 80%">
          <div class="heading-card">Schedule Name</div>
          <div class="heading-card"># of Computers</div>
          <% for(var i=0; i < scheds.length; i++) { %> <%= scheds[i].id %>
          <div class="card"><div class="data"><%= scheds[i].SchedName%></div></div>
          <div class="card">
            <div class="data"><%= scheds[i].Count%><a href="/ScheduleConfig/IndividualSchedule/<%= scheds[i].SchedID%>">(View)</a></div>
          </div>
          <% } %>
        </section>
      </div>
    </main>
  </body>
</html>
